@model ResultSepetDto

@{
    ViewData["Title"] = "Sepetim";
}
<div class="container">

    <h2>Sepetim</h2>

    @if (Model.SepetItems == null || Model.SepetItems.Count == 0)
    {
        <p>Sepetinizde ürün bulunmamaktadır.</p>
    }
    else
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Ürün Adı</th>
                    <th>Adet</th>
                    <th>Fiyat</th>
                    <th>Toplam</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SepetItems)
                {
                    var urunToplam = item.Product.Price * item.Piece;

                    <tr>
                        <td>@item.Product.Name</td>
                        <td>@item.Piece</td>
                        <td>@item.Product.Price TL</td>
                        <td>@urunToplam TL</td>
                        <td>
                            <a asp-action="RemoveFromCart" asp-route-id="@item.ProductId" class="btn btn-sm btn-danger">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <h4>Toplam Tutar: @Model.TotalAmount</h4>
        <a asp-action="CompleteOrder" class="btn btn-success">Siparişi Tamamla</a>
    }


</div>
